/*
 *CSS Reset
 */
html{font-size: 62.5%;}/*  10/16*100%  */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{background:#fff;color:#333; margin-top:0px;font-family:"Microsoft Yahei","Arial Narrow";}

ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}

/*
 * style
 */

.g-container{
	border-top: 4px solid #333;
	margin:0 auto;
	padding-top: 60px;
	width: 60%;
	max-width: 650px;
}
.g-container h1{
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.8em;
	text-align: center;
}
.g-container p{
	text-align: center;
	font-size: 1.2rem;
}
.g-container .m-box{
	margin: 20px auto;
}
.m-box::after{/*  清除浮动  */
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	clear: both;
	height: 0;
}
.m-box .u-box-wrapper{
	margin: 0 auto;
	width:315px;
}
.m-box .u-box{
	width: 100px;
	height: 100px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #F69205;
}
.m-box-1 .u-box{/*  float  */
	float: left;
}
/*.m-box-1 .u-box:nth-child(3n){
	margin-right: 0;
}*/
.m-box-1 .u-box:nth-child(3n+1){
	clear: both;
}

.m-box-2{/*  inline-block  */
	text-align: center;
	font-size: 0;/*  消除inline-block的空格  */
}
.m-box-2 .u-box{
	display: inline-block;
}

.m-box-3 .u-box-wrapper{/*  flex  */
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	/*justify-content:space-between;*/
}
.m-box-3 .u-box{
	display: inline-block;
}
.m-box-4 .u-box{
	display: none;
}
/*  自适应  */
.m-box-5{/*  float  */
	max-width: 500px;
	font-size: 0;/*  消除inline-block的空格  */
}
.m-box-5 .z-box{
	display: inline-block;
	/*width: 30%;
	height: 30%;*/
	padding: 16.1%;
	margin: 0.5%;
	border-radius: 5%;
	background-color: #F69205;
}
/*  对元素使用inline-block后，使用padding可以自动撑满  */

.m-box-6{
	max-width: 500px;
	text-align: center;
	font-size: 0;/*  消除inline-block的空格  */
}
.m-box-6 .z-box{
	display: inline-block;
	width: 30%;
	padding-bottom: 30%;
	margin: 0.5%;
	border-radius: 5%;
	background-color: #F69205;
}