* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
html,
body {
  background-color: #f1f1f1;
  font-size: 20px;
  font-family: "Microsoft Yahei";
}
.g-header {
  background-color: #6aad29;
  color: #fff;
  text-align: center;
}
.g-header .headline-container {
  display: inline-block;
  text-align: left;
}
.g-header .headline-container .logo {
  float: left;
}
.g-header .headline-container dl {
  position: relative;
  top: 80px;
  margin-left: 40px;
  float: left;
}
.g-header .headline-container dl dt {
  padding: 5px 0;
  font-size: 1.2rem;
}
.g-header .headline-container dl dd {
  padding: 5px 0;
  font-size: .7rem;
}
.g-header .headline-container dl dd.icon-download {
  margin-top: 10px;
  border-top: 1px solid #fff;
}
.g-header .headline-container dl dd.icon-download span {
  position: relative;
  top: 5px;
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-image: url(download.png);
  background-size: 100%;
}
.g-header .headline-container dl dd.icon-download a {
  text-decoration: none;
  color: #fff;
}
.g-header .headline-container dl dd.icon-download a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 700px) {
  .g-header .headline-container {
    padding: 40px 0;
  }
  .g-header .headline-container .logo,
  .g-header .headline-container dl {
    float: none;
  }
  .g-header .headline-container dl {
    top: 0;
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }
}
.g-header .headline-container::after {
  content: "";
  display: block;
  clear: both;
}
.g-layout {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
.g-layout .m-content {
  padding-left: 60px;
}
.g-layout .m-content-wrapper {
  float: left;
  width: 60%;
}
.g-layout .m-content .content {
  margin-bottom: 40px;
}
.g-layout .m-content .content h2,
.g-layout .m-content .content h3 {
  padding: 10px 0;
  color: #6aad29;
}
.g-layout .m-content .content p {
  margin-bottom: 1.4em;
  font-size: 0.7rem;
  line-height: 1.6em;
  text-align: justify;
  color: #666;
}
.g-layout .m-display {
  position: absolute;
  right: 10%;
}
.g-layout .m-display .u-display-wrapper {
  position: relative;
  margin: 0 auto;
  width: 319px;
  height: 567px;
  overflow: hidden;
  box-shadow: 0 10px 20px 5px #ddd;
}
.g-layout .m-display .u-display-wrapper #display {
  position: absolute;
  top: -41px;
  left: -41px;
}
.g-layout .m-display .intro p {
  position: relative;
  top: 20px;
  font-size: 0.7rem;
  text-align: center;
  color: #6aad29;
}
.g-layout .m-mobile-trial {
  display: none;
  margin-top: 40px;
  text-align: center;
}
.g-layout .m-mobile-trial a {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #6aad29;
  border-radius: 100px;
  color: #6aad29;
}
@media screen and (max-width: 700px) {
  .g-layout {
    padding: 0;
  }
  .g-layout .m-content {
    padding: 40px 0;
  }
  .g-layout .m-content h2 {
    font-size: 1rem;
  }
  .g-layout .m-content-wrapper {
    float: none;
    width: 100%;
  }
  .g-layout .m-display {
    display: none;
  }
  .g-layout .m-mobile-trial {
    display: block;
  }
}
.g-footer {
  width: 100%;
  background-color: #444;
}
.g-footer ul {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  font-size: .6rem;
  color: #fff;
}
.g-footer ul li {
  padding: 4px 0;
  text-align: center;
}
